<section class="pomodoros pomodoros-tab">
  <h2 class="pomodoros__heading">Pomodoros settings</h2>
  <div class="pomodoros__form">

    <div class="pomodoros__input-item input-item" id="input-work-time">
      <div class="input-item__field">
        <h3 class="input-item__legend">Work time</h3>
        <div class="input-item__controls">
          <button type="button" class="input-item__button btn-add">
            <span class="icon-add"></span>
          </button>
          <div class="input-item__value">
            &#9647;
          </div>
          <button type="button" class="input-item__button btn-minus">
            <span class="icon-minus"></span>
          </button>
        </div>
      </div>
      <p class="input-item__description">
        Please select a value between &#9647; and &#9647; <span class="pomodoros__strong">minutes</span>
      </p>
    </div>

    <div class="pomodoros__input-item input-item" id="input-work-iteration">
      <div class="input-item__field">
        <h3 class="input-item__legend">Work iteration</h3>
        <div class="input-item__controls">
          <button type="button" class="input-item__button btn-add">
            <span class="icon-add"></span>
          </button>
          <div class="input-item__value">
            &#9647;
          </div>
          <button type="button" class="input-item__button btn-minus">
            <span class="icon-minus"></span>
          </button>
        </div>
      </div>
      <p class="input-item__description">
        Please select a value between &#9647; and &#9647; <span class="pomodoros__strong">iterations</span>
      </p>
    </div>

    <div class="pomodoros__input-item input-item" id="input-short-break">
      <div class="input-item__field">
        <h3 class="input-item__legend">Short break</h3>
        <div class="input-item__controls">
          <button type="button" class="input-item__button btn-add">
            <span class="icon-add"></span>
          </button>
          <div class="input-item__value">
            &#9647;
          </div>
          <button type="button" class="input-item__button btn-minus">
            <span class="icon-minus"></span>
          </button>
        </div>
      </div>
      <p class="input-item__description">
        Please select a value between &#9647; and &#9647; <span class="pomodoros__strong">minutes</span>
      </p>
    </div>

    <div class="pomodoros__input-item input-item" id="input-long-break">
      <div class="input-item__field">
        <h3 class="input-item__legend">Long break</h3>
        <div class="input-item__controls">
          <button type="button" class="input-item__button btn-add">
            <span class="icon-add"></span>
          </button>
          <div class="input-item__value">
            &#9647;
          </div>
          <button type="button" class="input-item__button btn-minus">
            <span class="icon-minus"></span>
          </button>
        </div>
      </div>
      <p class="input-item__description">
        Please select a value between &#9647; and &#9647; <span class="pomodoros__strong">minutes</span>
      </p>
    </div>
  </div>
  <div class="cycle">
    <h2 class="cycle__heading">Your cycle</h2>
    <div class="cycle__main">
      <div class="cycle__bar">
        <div class="cycle__piece work-time"></div>
      </div>
    </div>

  </div>

  <div class="settings__buttons">
    <button class="settings__button btn-secondary" id="settings-go-to-tasks">Go to Tasks</button>
    <button class="settings__button btn-confirm" id="settings-save">Save</button>
  </div>
</section>
