<div class="container">

  <main class="settings">

    <h1 class="settings__heading heading">Settings</h1>

    <ul class="settings__tabs tabs">
      <li class="tabs-item active" routerLink="settings/pomodoros" id="tab-pomodoros">Pomodoros</li>
      <li class="tabs-item" routerLink="settings/categories" id="tab-categories">Categories</li>
    </ul>

    <div id="tab-content"></div>
  </main>
</div>
