<div class="notification notification_{{type}}">
  <div class="notification__body">
    <div class="notification__icon">
      <span class="icon-tomato-{{type}}"></span>
    </div>

    <div class="notification__content">
      <div class="notification__text">{{text}}</div>
      <div class="notification__close">
        <span class="icon-close"></span>
      </div>
    </div>
  </div>
</div>
