<section class="categories " id="categories-tab">
  <h2 class="pomodoros__heading">Categories list overview</h2>

  <div class="categories__container">
    <ul class="categories__list">
      <li class="categories__list-item" id="category-work">Work</li>
      <li class="categories__list-item" id="category-education">Education</li>
      <li class="categories__list-item" id="category-hobby">Hobby</li>
      <li class="categories__list-item" id="category-sport">Sport</li>
      <li class="categories__list-item" id="category-other">Other</li>
    </ul>
  </div>

  <button class="categories__button btn-secondary" routerLink="tasks">Go to Tasks</button>
</section>
