<div class="flex-wrapper">
  <div class="image-message add-first-task-message">
    <div class="image-message__img"></div>
    <div class="image-message__text">Add your first task</div>
  </div>
</div>
