<div class="global-list__category category category_education">
  <div class="category__header">Education</div>
  <div class="category__list">
    {{#each tasks}}
      {{> task task=this}}
    {{/each}}
  </div>
</div>
