<div class="global-list__category category category_sport">
  <div class="category__header">Sport</div>
  <div class="category__list">
    {{#each tasks}}
      {{> task task=this}}
    {{/each}}
  </div>
</div>
