<div class="global-list__category category category_other">
  <div class="category__header">Other</div>
  <div class="category__list">
    {{#each tasks}}
      {{> task task=this}}
    {{/each}}
  </div>
</div>
