<div class="modal">
  <div class="modal__body">
    <div class="modal__content modal__remove">
      <div class="modal__buttons">
        <button class="modal__btn" id="btn-close"><span class="icon-close"></span></button>
      </div>
      <h2 class="modal__heading">Remove Task</h2>

      <p class="modal__remove-text">
        Are you sure you want to remove selected task(s)?
      </p>

      <div class="modal__remove-buttons">
        <div class="modal__remove-btn btn-secondary" id="btn-cancel">Cancel</div>
        <div class="modal__remove-btn btn-cancel" id="btn-confirm">Remove</div>
      </div>

    </div>
  </div>
</div>
