<div class="flex-wrapper">
  <div class="image-message dont-have-task-message">
    <div class="image-message__img"></div>
    <div class="image-message__text">You don't have completed tasks.<br>Maybe you should consider some time management :)</div>
  </div>
</div>
