<div class="container task-list">
  <div class="flex-wrapper first-time">
    <div class="image-message first-time__message">
      <div class="image-message__img"></div>
      <div class="image-message__text">As you visited site for a first time you can check and customize your default application settings</div>
    </div>
    <div class="first-time__buttons">
      <button class="first-time__btn btn btn-secondary" routerLink="task">Skip</button>
      <button class="first-time__btn btn btn-confirm" routerLink="settings">Go to Settings</button>
    </div>
  </div>
</div>
