<div class="todo-list__message move-first-task move-first-task">
  <p class="move-first-task__text">Task added, <br> move it to the top 5 in daily task list</p>
  <p class="move-first-task__icon"><span class="icon-arrow_circle"></span></p>
</div>
