<div class="flex-wrapper">
  <div class="image-message dont-have-task-message">
    <div class="image-message__img"></div>
    <div class="image-message__text">You don't have any tasks left.<br>Add new tasks to stay productive.</div>
  </div>
</div>
