<section class="pomodoros" id="pomodoros-tab">
  <h2 class="pomodoros__heading">Pomodoros settings</h2>
  <div class="pomodoros__form">
  </div>
  <div class="cycle">
    <h2 class="cycle__heading">Your cycle</h2>
    <div class="cycle__main">
      <div class="cycle__bar"></div>
    </div>

  </div>

  <div class="settings__buttons">
    <button class="settings__button btn-secondary" routerLink="tasks" id="btn-go-to-tasks">Go to Tasks</button>
    <button class="settings__button btn-confirm" id="btn-save">Save</button>
  </div>
</section>
